<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/animate.css' />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <% anuncios.forEach(function(anuncio){%> 
        <div class="col-sm-12 col-md-6">
          <div class="container-anuncio animated flipInY">
            <% if (anuncio.venta === true){ %>
               <h2 class="text-primary animated jello"><%= anuncio.nombre %> <span class="label label-danger">Venta</span></h2>
            <% }else{  %>
                <h2 class="text-primary  animated jello"><%= anuncio.nombre %> <span class="label label-warning">Busqueda</span></h2>

            <% } %>
            <p class="text-danger animated bounceInDown">
              Precio: <%= anuncio.precio %>
            </p>
            <div class="container-img animated tada">
              <img src="/images/<%= anuncio.foto %>" class="img-anuncios img-responsive">
            </div>
            <p class="text-warning animated fadeInRightBig">
              <i><%= anuncio.tag %></i>
            </p>
          </div>
          
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
